In [26]:
import pandas as pd

df = pd.read_csv(r"C:/Users/HP/Downloads/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [58]:
#year with least correlation with element code

correlations ={}

for year in ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']:
    
    correlations[year] = df['Element Code'].corr(df[year])
    
correlations

min_year = min(correlations, key = correlations.get)

min_value = round(correlations[min_year], 3)

print(min_year, min_value)

Y2016 0.023

In [59]:
#Find the area with the seventh lowest sum in 2017
area_sums = df[['Y2017', 'Area']].groupby('Area')['Y2017'].sum()

area_sums

#get the seventh lowest sum

area_sums_sorted = area_sums.sort_values().index[6]

area_sums_sorted

'Guinea-Bissau'

In [60]:
#number of unique countries in the dataset

unique_countries = df['Area'].nunique()

unique_countries

49

In [70]:
#Total number and percentage of missing data in 2024

# Calculate the total number of missing values in 2014
missing_count = df['Y2014'].isnull().sum()

missing_count

# Calculate the total number of data points in 2014
total_data_points = len(df)

# Calculate the percentage of missing data
missing_percentage = round((missing_count / total_data_points) * 100,3)

print(f'{missing_count}, {missing_percentage}%')

1589, 2.607%

In [71]:
# Total number of the sum of processing in 2017

# Group by 'Element' and calculate the sum for 2017
element_group = df[df['Element'] == 'Processing'].groupby('Element')['Y2017'].sum()

element_group

Element
Processing    292836.0
Name: Y2017, dtype: float64

In [72]:
# Get the sum for 'Processing' in 2017
processing_sum_2017 = element_group.get('Processing', 0) 


print(f"The total sum of 'Processing' in 2017 is: {processing_sum_2017:.3f}")

The total sum of 'Processing' in 2017 is: 292836.000

In [75]:
# total sum of Wine produced in 2015 and 2018 respectively

# Calculate the sum of wine production in 2015 and 2018
wine_production_2015 = df.loc[df['Item'] == 'Wine', 'Y2015'].sum()
wine_production_2018 = df.loc[df['Item'] == 'Wine', 'Y2018'].sum()

print(f"Total wine production 2015: {wine_production_2015:.3f}")
print(f"Total wine production 2018: {wine_production_2018:.3f}")

Total wine production 2015: 4251.810
Total wine production 2018: 4039.320

In [77]:
# Calculate the mean and standard deviation for the year 2017
mean_2017 = df['Y2017'].mean()
std_2017 = df['Y2017'].std()

print(f"Mean for 2017: {mean_2017:.2f}")
print(f"Standard Deviation for 2017: {std_2017:.2f}")

Mean for 2017: 140.92
Standard Deviation for 2017: 1671.86

In [82]:
#Areas with the highest sum in 2017

area_sum_2017 = df.groupby('Area')['Y2017'].sum()

highest_sum_area = area_sum_2017.idxmax() 

print(f"The area with the highest sum in 2017 is: {highest_sum_area}")

The area with the highest sum in 2017 is: Nigeria

In [87]:
#year with the highest sum of Stock Variation

# Calculate the sum of "Stock Variation" for each year
stock_variation_sum = df.loc[df['Element'] == 'Stock Variation', ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# year with the highest sum
highest_sum_year = stock_variation_sum.idxmax()

print(f"The year with the highest sum of 'Stock Variation' is: {highest_sum_year}")

The year with the highest sum of 'Stock Variation' is: Y2014

In [17]:
df.loc[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)'), 'Y2015'].sum()

173.04999999999998